@use '~/src/sass/mixins'

.skills_section
    color: white
    font-family: padrao
    width: 100%
    background-color: #77569f
    padding: 5em
    display: flex
    gap: 5em
    align-items: center
    flex-direction: column
    .skills
        display: flex
        flex-wrap: wrap
        width: 100%
        justify-content: space-around
    .known_skills
        @include mixins.skills
    .learning_skills
        @include mixins.skills